/*Principal.css By Ana Leon 0014-0231*/

body {
        font-family: "Verdana"; 
	color: #192666;
	background: #f2f5fe url("../imagenes/fondo.gif") no-repeat;
}

#contenedor  {
        
        width: 770px;
        margin: 0 auto;
        padding: 0 auto;
}

#cabecera {
        position: relative;
        width: auto;
        height: 100px;
        margin: 5px;
        background: #233C9B url("../imagenes/cabecera.jpg") no-repeat;
}

#contenido {
        width: 750px;
        margin: 0 0 0 5px;
}

#contenido #principal {
	float: left;
	width: 530px;
        margin: 5px auto 10px auto;
} 

#contenido secundario {
	float: left;
	width: 200px;
        margin: 10px auto 10px auto;
} 


#buscador {
	margin-left: 20em;
        margin-top: 5px;
        float: right;
        padding: auto;       
}

#menu {
        background-color: #253575;
        padding: .5em 1em .2em 1em;
}

#menu ul li {
        height: 10px;
	width: 100%;
	list-style-type: none;
    	display: inline;
	color: #B5C4E3;
	padding: .5em 1em .5em 1em;
	float:left;
}

a {
        color:#192666;
}

a:hover {
        color:#4F6AD7;
}

#pie {
        height: 40px; 	
	width: 100%;
	clear: both;
        position: relative;
        margin-bottom: 10px;
        background: url("../imagenes/fondo_pie.jpg") no-repeat;
        color: #6685CC;
}
